@use "sass:map";

@use "./colors.scss";

$inset: false;
$offset-x: 0;
$offset-y: 0;
$blur-radius: 5px;
$spread-radius: 1px;
$color: colors.$black;

@function getLevelProperties($level: 1) {
    @return (
        "offset-x": $offset-x,
        "offset-y": $offset-y,
        "blur-radius": $blur-radius * $level,
        "spread-radius": $spread-radius * $level,
    );
}

$config: (
    "level-1": getLevelProperties(1),
    "level-2": getLevelProperties(2),
    "level-3": map-merge(
        getLevelProperties(2),
        ("desktop": getLevelProperties(3))
    ),
    "foo": (
        "offset-x": 5px,
        "offset-y": 5px,
        "blur-radius": 10px,
        "spread-radius": 5px,
    ),
);

@function getConfig($key) {
  @return map.get($config, $key);
}