// ---------------------------------
//             Layout
// ---------------------------------
@use "../configs/layout.scss";
@use "../configs/mq.scss";

.layout {
  width: 100%;
  max-width: layout.$layout-width;
  margin: auto;
  padding: layout.$paddingTop layout.$paddingX layout.$paddingBottom layout.$paddingX;

  @include mq.media(">=desktop") {
    padding: layout.$desktop-paddingTop layout.$desktop-paddingX layout.$desktop-paddingBottom layout.$desktop-paddingX;
  }
}

.layout-full {
  padding-top: 0;
  padding-bottom: 0;
}

.layout-slim {
  max-width: layout.$slim-layout-width;
}

.layout-small {
  max-width: layout.$small-layout-width;
}
