// ---------------------------------
//             Layout
// ---------------------------------
@use "../configs/layout.scss";
@use "../configs/mq.scss";

.layout {
  width: 100%;
  max-width: layout.$layout-width;
  margin: auto;
  padding: layout.$padding-top layout.$padding-x layout.$padding-bottom layout.$padding-x;

  @include mq.media(">=desktop") {
    padding: layout.$desktop-padding-top layout.$desktop-padding-x layout.$desktop-padding-bottom layout.$desktop-padding-x;
  }
}

.layout-full {
  padding-top: 0;
  padding-bottom: 0;
}

.layout-slim {
  max-width: layout.$slim-layout-width;
}

.layout-small {
  max-width: layout.$small-layout-width;
}
