// ---------------------------------
//             Posititon
// ---------------------------------

.position-none {
  display: none;
}

.position-block {
  display: block;
}

.position-inline-block {
  display: inline-block;
}

.position-v-middle {
  vertical-align: middle;
}

.position-relative {
  position: relative;
}

// size

.position-full {
  width: 100%;
}

.position-16on9 {
  aspect-ratio: 16/9;
}

// flex container

.position-flex {
  display: flex;
}

.position-flex-space-around {
  justify-content: space-around;
}

.position-flex-space-evenly {
  justify-content: space-evenly;
}

.position-flex-space-between {
  justify-content: space-between;
}

.position-flex-center {
  justify-content: center;
}

.position-flex-right {
  justify-content: right;
}

.position-flex-column-reverse {
  flex-direction: column-reverse;
}

.position-flex-column {
  flex-direction: column;
}

.position-flex-wrap {
  flex-wrap: wrap;
}

.position-flex-v-top {
  align-items: flex-start;
}

.position-flex-v-bottom {
  align-items: flex-end;
}

.position-flex-v-center {
  align-items: center;
}

// flex item

.position-flex-item-maximized {
  flex: 1 1 100%;
}

.position-flex-item-v-center {
  align-self: center;
}
