// ------------------------------------
//                 Form
// ------------------------------------

@use "../config/borders.scss";
@use "../config/colors.scss";
@use "../config/fonts.scss";
@use "../config/form.scss";
@use "../config/animation.scss";

@use "../helper/accessibility.scss";
@use "../helper/spaces.scss";
@use "../helper/text.scss";

// use "form" class
.form {
  // ------------------------------------
  // Label
  // ------------------------------------

  label {
    @extend .mb-2;

    display: block;
  }

  label,
  legend {
    @extend .text-regular;
  }

  fieldset {
    @extend .mb-4;
    @extend .p-5;
    @include borders.getStyles();

    width: 100%;
  }

  // ------------------------------------
  // Text
  // ------------------------------------

  input[type="email"],
  input[type="number"],
  input[type="tel"],
  input[type="text"],
  input[type="password"],
  input[type="search"],
  input[type="date"],
  textarea {
    @extend .mb-4;
    @extend .px-3;
    @extend .py-2;
    @extend .text-regular;
    @include borders.getStyles();

    width: 100%;
    max-width: none;
    background-color: colors.$white;
    font-family: fonts.$base;
    transition: animation.$duration-basic;

    &:focus,
    &:active {
      border-color: colors.$black;
    }

    &[disabled] {
      background-color: colors.$grey-light;
    }
  }

  textarea {
    min-height: 14rem;
    vertical-align: middle;
  }

  // ------------------------------------
  // Checkbox
  // ------------------------------------

  input[type="checkbox"] {
    opacity: 0;
    position: fixed;
    left: -99px;

    &:focus-visible + label {
      @extend .accessibility-focusVisible;
    }

    & + label {
      @extend .mb-4;
      @extend .text-regular;

      position: relative;
      display: block;
      padding-left: form.$checkboxSize * 1.5;
      line-height: form.$checkboxSize;
      user-select: none;
      cursor: pointer;

      &::before {
        @include borders.getStyles();

        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        width: form.$checkboxSize;
        height: form.$checkboxSize;
      }
    }

    &:checked + label:before {
      content: "✓";
      background-color: colors.$primary;
      text-align: center;
      font-size: calc(form.$checkboxSize - borders.$defaultSize);
      line-height: 1;
      color: colors.$white;
    }

    &[disabled] + label::before {
      background-color: colors.$grey-light;
    }

    &[disabled]:checked + label::before {
      background-color: colors.$grey-dark;
    }
  }

  // ------------------------------------
  // Radio
  // ------------------------------------

  input[type="radio"] {
    opacity: 0;
    position: fixed;
    left: -99px;

    &:focus-visible + label {
      @extend .accessibility-focusVisible;
    }

    & + label {
      @extend .mb-4;
      @extend .text-regular;

      position: relative;
      display: block;
      padding-left: form.$radioSize * 1.5;
      line-height: form.$radioSize;
      user-select: none;
      cursor: pointer;

      &::before {
        @include borders.getStyles();

        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        width: form.$radioSize;
        height: form.$radioSize;
        border-radius: 50%;
      }
    }

    &:checked + label::before {
      background-color: colors.$primary;
    }

    &[disabled] + label::before {
      background: colors.$grey-light;
    }

    &[disabled]:checked + label::before {
      border-color: colors.$grey;
      background: colors.$grey-dark;
    }
  }

  // ------------------------------------
  // Select
  // ------------------------------------

  select {
    @extend .mb-4;
    @extend .px-3;
    @extend .py-2;
    @extend .text-regular;
    @extend .text-body;
    @include borders.getStyles();

    width: 100%;
    max-width: none;
    background-color: colors.$white;
    color: colors.$black;

    &:focus,
    &:active {
      border-color: colors.$black;
    }

    &[disabled] {
      background-color: colors.$grey-light;
    }
  }
}
