/**
  * Media queries helper
  */

@use "../config/mq.scss";

@include mq.media(">=tablet") {
  .mq-only-phone {
    display: none !important;
  }
}

@include mq.media("<desktop") {
  .mq-only-desktop {
    display: none !important;
  }
}

@include mq.media("<tablet") {
  .mq-only-tablet {
    display: none !important;
  }
}
@include mq.media(">=desktop") {
  .mq-only-tablet {
    display: none !important;
  }
}

@include mq.media("<tablet") {
  .mq-no-phone {
    display: none !important;
  }
}

@include mq.media(">=tablet", "<desktop") {
  .mq-no-tablet {
    display: none !important;
  }
}

@include mq.media(">=desktop") {
  .mq-no-desktop {
    display: none !important;
  }
}

@media print {
  .mq-no-print {
    display: none !important;
  }
}
