@use '../configs/mq.scss';

@function sanitizeConfig($config) {
  @if map-get($config, nth(mq.$name-available, 1)) {
    $smaller-mq-config : map-get($config, nth(mq.$name-available, 1));
    @return map-remove(map-merge($config, $smaller-mq-config), nth(mq.$name-available, 1));
  }
  
  @return $config;
}

@function sanitizeConfigs($configs) {
  $merged-configs: ();

  @each $key, $config in $configs {
    $merged-configs: map-merge(
      $merged-configs,
      (
        $key: sanitizeConfig($config)
      )
    );
  }

  @return $merged-configs;
}

@function strip-unit($value) {
  @if type-of($value) == 'number' and not unitless($value) {
    @return $value / ($value * 0 + 1);
  }

  @return $value;
}