// ---------------------------------
//            Grid Layout
// ---------------------------------
@use "../config/layout.scss";
@use "../config/mq.scss";

.GridLayout {
  // Config
  --central-column-range: #{layout.$layout-width};
  --layout-margin: #{layout.$margin};

  @include mq.media(">=desktop") {
    --layout-margin: #{layout.$desktop-margin};
  }

  // Style
  display: grid;
  grid-template-columns:
    minmax(var(--layout-margin), 1fr)
    minmax(auto, var(--central-column-range))
    minmax(var(--layout-margin), 1fr);
    padding: layout.$paddingTop layout.$paddingX layout.$paddingBottom layout.$paddingX;

  @include mq.media(">=desktop") {
    padding: layout.$desktop-paddingTop layout.$desktop-paddingX layout.$desktop-paddingBottom layout.$desktop-paddingX;
  }

  &--ySpace {
    padding-top: 0;
    padding-bottom: 0;
  }

  &--slimLayout {
    --central-column-range: #{layout.$slim-layout-width};
  }

  &--smallLayout {
    --central-column-range: #{layout.$small-layout-width};
  }

  // Children style
  > * {
    grid-column: 2 / -2;
  }
}

.GridLayout-item {
  &--fullWidth {
    grid-column: 1 / -1;
    width: 100%;
  }
}
