@use "sass:map";

@use "./colors.scss";

$defaultStyle: solid;

$smallSize: 1px;
$defaultSize: 1.5px;
$largeSize: 2px;

$smallRadius: 0;
$defaultRadius: 0;
$largeRadius: 0;

$defaultType: $defaultSize $defaultStyle;
$defaultColor: colors.$grey;

@mixin getStyles($size: null, $style: null, $color: null, $radius: null) {
  $computedSize: $size or $defaultSize;
  $computedStyle: $style or $defaultStyle;
  $computedColor: $color or $defaultColor;
  $computedRadius: $radius or $defaultRadius;

  border: $computedSize $computedStyle $computedColor;
  border-radius: $computedRadius;
}
