@use "sass:map";

@use "./colors.scss";

$default-style: solid;

$small-size: 1px;
$default-size: 1.5px;
$large-size: 2px;

$small-radius: 0;
$default-radius: 0;
$large-radius: 0;

$default-type: $default-size $default-style;
$default-color: colors.$grey;

@mixin getStyles($size: null, $style: null, $color: null, $radius: null) {
  $computed-size: $size or $default-size;
  $computed-style: $style or $default-style;
  $computed-color: $color or $default-color;
  $computed-radius: $radius or $default-radius;

  border: $computed-size $computed-style $computed-color;
  border-radius: $computed-radius;
}
