// -------------------
// Colors
// -------------------

$primary: #00c586;
$primary-light: #6ed694;
$secondary: #5082f3;
$secondary-dark: #32465f;

$black: #333;
$grey-dark: #555;
$grey: #999;
$grey-light: #ccc;
$white: #fff;

$transparent: rgba(0, 0, 0, 0);
