// ------------------------------------
//         Form
// ------------------------------------

// TODO JORDAN : Change camelCase to kebabe-case

@use "./colors.scss";
@use "./spaces.scss";
@use "./borders.scss";

// ------------------------------------
// Input (impact all form elements)
// ------------------------------------
$input-padding: spaces.get(3) spaces.get(2);

// colors
$input-background-color: colors.$white;
$input-value-color: colors.$black;
$input-accent-color: colors.$primary;
$input-disabled-color: colors.$grey-light;

// borders
$input-border-color: borders.$default-color;
$input-focus-border-color: colors.$black;
$input-border-size: borders.$default-size;
$input-border-style: borders.$default-style;
$input-border-radius: borders.$default-radius;

// ------------------------------------
// Textarea
// ------------------------------------
$textarea-height: 14rem;

// ------------------------------------
// Checkbox
// ------------------------------------
$checkbox-mark-color: colors.$white;
$checkbox-disabled-color: $input-disabled-color;
$checkbox-active-disabled-color: colors.$grey-dark;
$checkbox-size: 2rem;
$checkbox-space-after: spaces.get(3);

// ------------------------------------
// Radio (default use checkbox config)
// ------------------------------------
$radio-mark-color: $checkbox-mark-color;
$radio-disabled-color: $checkbox-disabled-color;
$radio-active-disabled-color: $checkbox-active-disabled-color;
$radio-size: $checkbox-size;
$radio-space-after: $checkbox-space-after;

// ------------------------------------
// Fieldset
// ------------------------------------
$fieldset-padding: $input-padding;
