$breakpoints-list: (
  "tablet": 768px,
  "desktop": 1024px,
) !default;

// Include-media library documentation here : https://eduardoboucas.github.io/include-media/documentation/
@forward "node_modules/include-media/dist/include-media" with (
  $breakpoints: $breakpoints-list
);

// This map is used by other modules.
// They represent the name used in configs files and the good mq to use.
$name-map: (
  "mobile": "<tablet",
  "tablet": ">=tablet",
  // "onlyTablet": (
  //   ">=tablet",
  //   "<desktop",
  // ),
  "desktop": ">=desktop",
);

$name-available: map-keys($name-map);
