@use "sass:list";

$spaceValue: 5px;
$regulatedMultiplicators: 0, 1, 2, 3, 4, 6, 10, 20, 40;

$regulatedSpacing: ();
@each $multiplicator in $regulatedMultiplicators {
  $finalValue: $spaceValue * $multiplicator;
  $regulatedSpacing: list.append($regulatedSpacing, $finalValue);
}

@function get($key) {
  @return nth($regulatedSpacing, $key + 1);
}

$config: (
  get(0),
  get(1),
  get(2),
  (
    "mobile": get(2),
    "tablet": get(3),
  ),
  (
    "mobile": get(3),
    "tablet": get(4),
  ),
  (
    "mobile": get(4),
    "tablet": get(5),
  ),
  (
    "mobile": get(5),
    "tablet": get(6),
  ),
  (
    "mobile": get(5),
    "tablet": get(6),
    "desktop": get(7),
  ),
  (
    "mobile": get(6),
    "tablet": get(7),
    "desktop": get(8),
  )
);
