// ------------------------
//         Text
// ------------------------

@use "sass:map";
@use "./colors.scss";

// body text

// Map root font-size to 10px, so that 1rem = 10px.
$font-base: 0.625em;
// default text size set to 16px.
$text-size: 1.6rem;
$text-height: 1.5;
$text-color: colors.$black;

$text-config: (
  "large": (
    "font-size": $text-size * 1.5,
    "line-height": $text-height * 0.8,
    "desktop": (
      "font-size": $text-size * 2,
    ),
  ),
  "regular": (
    "font-size": $text-size,
    "line-height": $text-height,
    "desktop": (
      "font-size": $text-size * 1.2,
    ),
  ),
  "small": (
    "font-size": $text-size * 0.8,
    "line-height": $text-height * 1.2,
    "desktop": (
      "font-size": $text-size,
    ),
  ),
);

@function getTextConfig($key) {
  @return map.get($text-config, $key);
}

// headings

$heading-base-size: 1.2rem;

$heading-config: (
  (
    // level 1
    "line-height": 1,
    "font-size": $heading-base-size * 3,
    "tablet": (
      "font-size": $heading-base-size * 4,
    )
  ),
  (
    // level 2
    "line-height": 1,
    "font-size": $heading-base-size * 2,
    "tablet": (
      "font-size": $heading-base-size * 2.5,
    ),
    "desktop": (
      "font-size": $heading-base-size * 3,
    )
  ),
  (
    // level 3
    "line-height": 1,
    "font-size": $heading-base-size * 2,
    "tablet": (
      "font-size": $heading-base-size * 2.5,
    )
  ),
  (
    // level 4
    "line-height": 1.1,
    "font-size": $heading-base-size * 1.6,
    "tablet": (
      "font-size": $heading-base-size * 1.8,
    ),
    "desktop": (
      "font-size": $heading-base-size * 2,
    )
  ),
  (
    // level 5
    "line-height": 1.1,
    "font-size": $heading-base-size * 1.6,
    "tablet": (
      "font-size": $heading-base-size * 1.8,
    )
  )
);

@function getHeadingConfig($level) {
  @return nth($heading-config, $level);
}
