@use "./colors.scss";

$default-style: solid;

$small-size: .5px;
$default-size: 1px;
$large-size: 2px;

$small-radius: 0;
$default-radius: 0;
$large-radius: 0;

$default-type: $default-size $default-style;
$default-color: colors.$grey;

$config: (
  "sm": (
    "size": $small-size,
  ),
  "md": (
    "size": $default-size,
  ),
  "lg": (
    "size": $large-size,
  ),
  // "foo": (
  //   "radius": $small-radius,
  //   "color": blue,
  //   "style": dotted
  //   "desktop": (
  //     "radius": $default-radius,
  //     "color": red,
  //     "style": dashed
  //   )
  // )
);
