@use "./spaces.scss";

// layout width
$layout-width: 1440px;
$slim-layout-width: 895px;
$small-layout-width: 450px;

// spacing X
$padding-x: spaces.get(4);
$desktop-padding-x: spaces.get(5);
// spacing top
$padding-top: spaces.get(6);
$desktop-padding-top: spaces.get(6);
// spacing bottom
$padding-bottom: spaces.get(6);
$desktop-padding-bottom: spaces.get(6);
