// ---------------------------------
//              Text
// ---------------------------------

@use "sass:map";

@use "./colors.scss";
@use "./mq.scss";

// ---------------------------------
// Mixin & function
// ---------------------------------

@function getTextConfig($key) {
  @return map.get($text-config, $key);
}

@function getHeadingConfig($level) {
  @return nth($heading-config, $level);
}

@mixin setProperties($properties) {
  @each $property, $value in $properties {
    #{$property}: $value;
  }
}

@mixin computeStyle($styleConfig) {
  @each $mqKey, $properties in $styleConfig {
    @if index(mq.$name-available, $mqKey) == null {
      // in this case $mqKey is a top level property
      $property: (
        $mqKey: $properties,
      );
      @include setProperties($property);
    } @else {
      @if $mqKey == nth(mq.$name-available, 1) {
        @include setProperties($properties);
      } @else {
        @include mq.media(map.get(mq.$name-map, $mqKey)...) {
          @include setProperties($properties);
        }
      }
    }
  }
}

@mixin headingStyles($level) {
  $level-config: text.getHeadingConfig($level);
  @include computeStyle($level-config);
}


// ---------------------------------
// Configuration
// ---------------------------------

// body text

// Map root font-size to 10px, so that 1rem = 10px.
$font-base: 0.625em;
// default text size set to 16px.
$text-size: 1.6rem;
$text-height: 1.5;
$text-weight: 500;
$text-color: colors.$black;

$text-config: (
  "large": (
    "font-size": $text-size * 1.5,
    "line-height": $text-height * 0.8,
    "desktop": (
      "font-size": $text-size * 2,
    ),
  ),
  "regular": (
    "font-size": $text-size,
    "line-height": $text-height,
    "desktop": (
      "font-size": $text-size * 1.2,
    ),
  ),
  "small": (
    "font-size": $text-size * 0.8,
    "line-height": $text-height * 1.2,
    "desktop": (
      "font-size": $text-size,
    ),
  ),
);

// headings

$heading-base-size: 1.2rem;

$heading-config: (
  "heading-1": (
    "line-height": 1,
    "font-size": $heading-base-size * 3,
    "tablet": (
      "font-size": $heading-base-size * 4,
    )
  ),
  "heading-2": (
    "line-height": 1,
    "font-size": $heading-base-size * 2,
    "tablet": (
      "font-size": $heading-base-size * 2.5,
    ),
    "desktop": (
      "font-size": $heading-base-size * 3,
    )
  ),
  "heading-3": (
    "line-height": 1,
    "font-size": $heading-base-size * 2,
    "tablet": (
      "font-size": $heading-base-size * 2.5,
    )
  ),
  "heading-4": (
    "line-height": 1.1,
    "font-size": $heading-base-size * 1.6,
    "tablet": (
      "font-size": $heading-base-size * 1.8,
    ),
    "desktop": (
      "font-size": $heading-base-size * 2,
    )
  ),
  "heading-5": (
    "line-height": 1.1,
    "font-size": $heading-base-size * 1.6,
    "tablet": (
      "font-size": $heading-base-size * 1.8,
    )
  ),
  "heading-6": (
    "line-height": 1.1,
    "font-size": $heading-base-size * 1.6,
    "tablet": (
      "font-size": $heading-base-size * 1.8,
    )
  )
);
